/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/database/migrations/2014_10_12_100000_create_password_resets_table.php
/resources/sass/_variables.scss
/resources/sass/app.scss
/resources/views/auth/passwords/confirm.blade.php
/app/Http/Controllers/Auth/ConfirmPasswordController.php
/resources/views/auth/passwords/email.blade.php
/app/Http/Controllers/Auth/ForgotPasswordController.php
/resources/views/home.blade.php
/app/Http/Controllers/HomeController.php
/app/Http/Controllers/Auth/LoginController.php
/app/Http/Controllers/Auth/RegisterController.php
/resources/views/auth/passwords/reset.blade.php
/app/Http/Controllers/Auth/ResetPasswordController.php
/app/Http/Controllers/Auth/VerificationController.php
/resources/views/auth/verify.blade.php
